.about {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 100px 15px 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 311px;
    grid-gap: 128px 30px;

    &__desc {

        &_headline {
            display: flex;
            align-items: flex-end;
            font-weight: bold;
            font-size: 35px;
            line-height: 43px;
            margin-bottom: 55px;
            grid-gap: 15px;
        }
        strong {
            font-weight: bold;

            a {
                text-decoration: none;
                display: block;
                margin-top: 10px;
                font-weight: 400;
            }
        }
        .btn {
            margin-top: 30px;
            max-width: 320px;
        }
    }
    &__pictures {
        position: relative;
        margin-top: 30px;

        > svg {
            position: absolute;
            right: -23px;
            top: -30px;
        }
        .icon {
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__image {
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
        svg {
            position: absolute;
            top: -28px;
            left: -33px;
        }
    }
    &__text {
        box-shadow: 0px 10px 30px rgba(196, 196, 196, 0.5);
        border-radius: 3px;
        background: #fff;
        padding: 55px 23px;

        &_paragraph {

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}



.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 50px 15px;

    &__path {
        filter: drop-shadow(0px 10px 30px rgba(196, 196, 196, 0.5));
        position: relative;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        &_content {
            padding: 50px 20px;
            border-radius: 3px;
            background: #fff;
            display: grid;
            grid-gap: 30px;
            position: relative;
            z-index: 3;
        }
        &_btn {
            padding: 20px 40px;
            display: block;
            margin: 0 auto;
            border-radius: 3px;
            border: 1px solid #9D2E20;
            font-weight: bold;
            color: #9D2E20;
            text-decoration: none;

            &:hover {
                color: #fff;
                border: 1px solid #06A49F;
                background: linear-gradient(95.14deg, #268481 0%, #06A49F 100%);
            }
            &.active {
                border: 1px solid #06A49F;
                background: linear-gradient(95.14deg, #268481 0%, #06A49F 100%);
                color: #268481;
            }
        }
        &_headline {
            padding: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            color: #fff;
            position: relative;
            z-index: 3;
        }
        .decor {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            z-index: 2;
        }
        &:nth-child(1) {
            .decor {
                background: linear-gradient(180deg, #204A49 0%, rgba(19, 45, 44, 0.3) 100%);
            }
        }
        &:nth-child(2) {
            .decor {
                background: linear-gradient(180deg, #038582 0%, rgba(19, 45, 44, 0.3) 100%);
            }
        }
        &:nth-child(3) {
            .decor {
                background: linear-gradient(180deg, #9E4CBB 0%, rgba(19, 45, 44, 0.3) 100%);            
            }
        }
        &:nth-child(4) {
            .decor {
                background: linear-gradient(180deg, #A0C0C0 0%, rgba(19, 45, 44, 0.3) 100%);
            }
        }
    }
}


.bottom {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 50px 15px 100px;
    display: grid;
    grid-gap: 60px;

    &__path {
        display: grid;
        grid-template-columns: 135px 1fr;
        grid-gap: 50px;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        &_paragraph {
            font-size: 25px;
            line-height: 30px;
        }
    }
    &__headline {
        margin-top: 40px;
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        display: flex;
        align-items: flex-end;
        grid-gap: 15px;
        justify-content: center;
    }
}